* {
    margin: 0;
    padding: 0;
}


#page {
    background-color: #F5F4F0;
    background-size: cover;
    padding: 100px;
    border-radius: 20px;
}

.container-principal {
    background-color: #F5F4F0;
  max-width: 1120px; /* largura maxima do container */
  max-height: 3054px; /* altura maxima do container */
  margin-left: auto; /*  */
  margin-right: auto; /* */
  padding: 10px 10px;
  
}

:root {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.imagens {
    width: 100%;
    height: auto;
}

.laranja {
    color: #E1624F;
}

.texto {
    font-weight: 400;
    font-size: 16px;
    color: #333333;

}
#about :nth-child(2) {
    margin-bottom: 40px;
}

#about :nth-child(4) {
    margin-top: 24px;
    margin-bottom: 104px;
    text-align: center;
    font-style: italic;
    width: 1120px;
    height: 37px;
}

.segunda-imagem {
    width: 100%;
    height: auto;
}

#destinos :nth-child(3) {
    margin-bottom: 64px;
}


.azul {
    font-weight: bold;
    color: #0C51A7;
}


.bold {
    font-size: 16px;
    font-weight: bold; 
}

.terceira-imagem {
    margin-top: 48px;
    width: 1120px;
    height: 350px;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 28px;
    font-weight: bold;
}

.quarta-imagem {
    width: 1120px;
    height: 350px;
}

.roxo {
    color: #591B98;
    font-weight: bold;
}

.rosa {
    color: #E5245E;
    font-weight: bold;
}

.orange{
    color: #E95E10;
    font-weight: bold;
}

.linha-cinza {
  width: 100%; /* Ocupa a largura total do container */
  height: 1px; /* Espessura da linha */
  background-color: #D9D9D9; /* Cor cinza (você pode ajustar este valor) */
  margin-top: 40px;/* Espaçamento para cima e para baixo */
  margin-bottom: 40px;
}

footer {
    text-align: center;
}