* {
  background-color: #F5F4F0;;

}
body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

:root {
    font-family: "Open Sans", sans-serif;
}

.laranja {
    color: #E1624F;
}
#about :nth-child(2) {
    margin-bottom: 40px;
}
#about :nth-child(4) {
    margin-top: 24px;
    margin-bottom: 104px;
    text-align: center;
    font-style: italic;
    padding: auto;
    width: 1120px;
    height: 37px;
}
img {
    width: 1120px;
    height: 660px;

}

.segunda-imagem {
    width: 1120px;
    height: 350px;
}

#destinos :nth-child(3) {
    font-style: italic;
    width: 1120px;
    height: 88px;
    font-size: 16px;
    margin-bottom: 64px;
}
.amor {
    font-size: 28px;
}

#headong :nth-child(3) {
    width: 1120px;
}

.destaque {
    font-weight: bold;
    color: #0C51A7;
}

#headong :nth-child(4) {
    font-size: 16px;
    font-weight: bold; 
}